#game {
    max-width: 100%;
}

.btn_group {
    display: grid;
    margin: 30px auto;
    grid-template-columns: repeat(3, 1fr);
    width: 200px;
    height: 200px;
}

.button {
    height: 75px;
    background: #000;
    opacity: 0.1;
}

.up {
    grid-column: 2;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 3;
}

.down {
    grid-column: 2;
}

@media (min-width: 992px) {
    .btn_group {
        display: none;
    }
}